<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Location Tree Views -->

    <record id="tms_places_tree" model="ir.ui.view">
        <field name="name">places.tms.tree</field>
        <field name="model">places.tms</field>
        <field name="arch" type="xml">
            <tree string="Lista de Localidades">
                <field name="name"/>
                <field name="url_googlemaps" widget="url"/> 
            </tree>
        </field>
    </record>

    <!-- Location Form Views -->
    <record id="tms_places_form" model="ir.ui.view">
        <field name="name">places.tms.form</field>
        <field name="model">places.tms</field>
        <field name="arch" type="xml">
            <form string="Lista de Localidades">
                <sheet string="Localidades">
                <group>
                    <group>
                        <field name="name"/>
                        <field name="country_id"/>
                        <field name="state_id"/>
                    </group>
                    <group>
                        <field name="url_googlemaps" widget="url"/> 
                    </group>
                </group>
                </sheet>
            </form>
        </field>
    </record>


    <!-- Location Action -->

    <record id="action_tms_places" model="ir.actions.act_window">
        <field name="name">Localidades</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">places.tms</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crear Localidad de Carga / Descarga!
            </p>
        </field>
    </record>

    <menuitem id="tms_menu_config" name="Configuración" parent="tms_root" sequence="10"/>

        <menuitem id="tms_label_places" name="Localidades" parent="tms_menu_config"/>

            <menuitem id="tms_action_places" name="Lista de Localidades" parent="tms_label_places" action="action_tms_places"/>



    <!-- Outsourced employee Tree Views -->

    <record id="tms_third_employee_tree" model="ir.ui.view">
        <field name="name">employee.third.tms.tree</field>
        <field name="model">employee.third.tms</field>
        <field name="arch" type="xml">
            <tree string="List of Outsources Employee">
                <field name="name"/>
                <field name="indetification_number"/>
                <field name="email" widget="email"/>
                <field name="phone" widget="phone"/>
                <field name="belonging_to"/>
            </tree>
        </field>
    </record>

    <!-- Outsourced employee Form Views -->
    <record id="tms_third_employee_form" model="ir.ui.view">
        <field name="name">employee.third.tms.form</field>
        <field name="model">employee.third.tms</field>
        <field name="arch" type="xml">
            <form string="Outsourced Employee">
                <sheet string="Employee">
                    <div>
                        <h2>
                            <field name="name" decoration-bf="name" placeholder="Documento"/>
                        </h2>
                    </div>
                    <group>
                        <group>
                            <field name="phone" widget="phone"/>
                            <field name="belonging_to" domain="[('es_transportista','=','si')]"/>
                        </group>
                        <group>
                            <field name="email" widget="email"/>
                            <field name="indetification_number"/>
                        </group>
                    </group>
                    <div>
                        <field name="note" placeholder="Note..." decoration-bf="note"/>
                    </div>
                </sheet>
            </form>
        </field>
    </record>


    <!-- Outsourced employee Action -->

    <record id="action_tms_third_employee" model="ir.actions.act_window">
        <field name="name">Empleados Tercerizados</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">employee.third.tms</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crear empleados tercerizados !
            </p>
        </field>
    </record>

        <!-- Outsourced fleet Tree Views -->

    <record id="tms_third_fleet_tree" model="ir.ui.view">
        <field name="name">fleet.third.tms.tree</field>
        <field name="model">fleet.third.tms</field>
        <field name="arch" type="xml">
            <tree string="List of Outsources Fleet">
                <field name="name"/>
                <field name="belonging_to"/>
                <field name="año"/>
                <field name="pais"/>
                <field name="nro_chasis"/>
                <field name="cant_ejes"/>
                <field name="chasis_marca"/>
                <field name="tipo_vehiculo"/>
            </tree>
        </field>
    </record>

    <!-- Outsourced fleet Form Views -->
    <record id="tms_third_fleet_form" model="ir.ui.view">
        <field name="name">fleet.third.tms.form</field>
        <field name="model">fleet.third.tms</field>
        <field name="arch" type="xml">
            <form string="Outsourced Fleet">
                <sheet string="Fleet">
                <group>
                    <group string="Datos">
                        <field name="name"/>
                        <field name="belonging_to" domain="[('es_transportista','=','si')]"/>
                        <field name="año"/>
                        <field name="pais"/>
                    </group>
                    <group string="Datos técnicos">
                        <field name="nro_chasis"/>
                        <field name="cant_ejes"/>
                        <field name="chasis_marca"/>
                        <field name="tipo_vehiculo"/>
                    </group>
                </group>
                <div>
                    <field name="note" placeholder="Note..." decoration-bf="note"/>
                </div>
                </sheet>
            </form>
        </field>
    </record>


    <!-- Outsourced fleet Action -->

    <record id="action_tms_third_fleet" model="ir.actions.act_window">
        <field name="name">Flota Tercerizada</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">fleet.third.tms</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crear flota tercerizada !
            </p>
        </field>
    </record>


    <!-- Expiry document type Tree Views -->
 
    <record id="tipe_vencimientos_tms_tree" model="ir.ui.view">
        <field name="name">type.vencimientos.tms.tree</field>
        <field name="model">type.vencimientos.tms</field>
        <field name="arch" type="xml">
            <tree string="Lista de Documentos">
                <field name="name"/>
                <field name="tipe"/>
                <field name="days_notification"/>
            </tree>
        </field>
    </record>

    <record id="action_tipe_vencimientos_tms" model="ir.actions.act_window">
        <field name="name">Tipo de Vencimientos</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">type.vencimientos.tms</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crear tipo de Vencimiento!
            </p>
        </field>
    </record>


        <menuitem id="tms_label_type_vencimientos_tms" name="Vencimientos" parent="tms_menu_config"/>

            <menuitem id="action_type_vencimientos_tms_places" name="Tipo de Vencimientos" parent="tms_label_type_vencimientos_tms" action="action_tipe_vencimientos_tms"/>



</odoo>